.cmd-filter {
  background-image: url(../images/button/view_16x16.png);
  text-indent: 20px;
}

.cmd-custom_filter {
  background-image: url(../images/button/view_16x16.png);
  text-indent: 20px;
}

.cmd-add {
  background-image: url(../images/button/add_16x16.png);
  text-indent: 20px;
}

.cmd-delete {
  background-image: url(../images/button/delete_16x16.png);
  text-indent: 20px;
}

.cmd-edit {
  background-image: url(../images/button/edit_16x16.png);
  text-indent: 20px;
}

.cmd-save {
  background-image: url(../images/button/save_16x16.png);
  text-indent: 20px;
}

.cmd-cancel {
  background-image: url(../images/button/cancel_16x16.png);
  text-indent: 20px;
}

