/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2009. All Rights Reserved.                 */
/*********************************************************************************/
.jtcategorybuttons {
  border: solid 1px #C1C1C1;
  padding: 1px;
}

.jtcategory
{
  border-left: solid 1px #C1C1C1;
  border-right: solid 1px #C1C1C1;
  border-top: solid 1px #C1C1C1;
  margin-bottom: 7px;
  /*width: 100%;*/
}

.jtcatcaption {
  background: url(images/cat_header_back.gif);
  border-bottom: solid 1px #C1C1C1;
  height: 23px;
  padding-top: 3px;
}

.jtcatbutton {
  border-bottom: solid 1px #C1C1C1;
}

.jtcatbuttonover {
  background: #EEEDED;
}

