/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/

.jtdatetimepickercalendar
{
	background: white;
	border: solid 1px #C1C1C1;
	/*height: 210px;*/
	overflow: hidden;
	padding: 1px;
	position: absolute;
	width: 250px;
}

.jtdatetimepickercalendarinner
{
	/*height: 100%;*/
	/*padding-bottom: 45px;
	padding-top: 20px;*/
	padding: 0;
	position: relative;
	width: 100%;
}

.jtdatetimepickertimebar
{
	background: #EEEDED;
	padding: 2px;
}