/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jtexpandpanel {
  border: solid 1px #C1C1C1;
}

.jtexpandpanelcontrol {
  background: transparent;
  color: #B0ABAB;
  font-size: 11pt;
  font-weight: normal;
  margin-left: 8px;
  width: 80px;
}

.jtexpandpanelline {
	border-bottom: none;
	background: #C1C1C1;
	height: 1px;
	left: 8px;
	position: absolute;
	/* set to the height of jtexpandpanelcontrol + 1 */
	top: 20px;
	width: 80px;
}

.jtexpandpanelcontent {
	height: 100%; /* Anchors don't work in the content if the content height is not the height of the panel */
	position: relative;
}