/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jthnavbar {
        background: transparent;
        border: none;
        height: auto;
}

.jtnavbar_table
{
  height: 28px;
}

.jtnavbar_innertable
{
  color: #515050;
  font-size: 10pt;
  text-align: center;
}

.jthnavbar_button
{
  background: white;
  border: solid 1px #C1C1C1;
  padding: 1px;
}

.jthnavbar_button_inner
{
  color: #515050;
  cursor: pointer;
  font-size: 10pt;
  height: 100%;
  padding-top: 2px;
  text-align: center;
  width: 100%;
}

.jthnavbar_button_inner_default
{
  background: url(images/nav_back.gif);
  border: solid 1px #C1C1C1;
  height: 24px;
  padding-top: 2px;
}

.jthnavbar_button_inner_over
{
  background: #EEEDED;
  height: 24px;
  padding: 1px;
  padding-top: 3px;
}

.jthnavbar_button_inner_active
{
  background: #871719;
  color: white;
  height: 24px;
  padding: 1px;
  padding-top: 3px;
}

.jthnavbar_button_inner_over .jtnavbar_innertable
{
	background: #EEEDED;
	color: #515050;
}

.jthnavbar_imgbutton_inner_over
{
  background: #EEEDED;
}

.jthnavbar_imgbutton_inner_active
{
  background: #871719;
  color: white;
}

.jthnavbar a
{
  color: #515050;
  text-decoration: none;
}

.jtnavbar_subitem {
  color: #515050;
  cursor: pointer;
  float: left;
  font-size: 8pt;
  height: 24px;
  line-height: 23px;
  list-style-type: none;
  margin-right: 6px;
}

.jtnavbar_subitem_table
{
  color: #515050;
  cursor: pointer;
  font-size: 8pt;
  display: inline;
}

.jtnavbar_subitem_table td {
	height: 23px;
}

.jtnavbar_subbar
{
  border: solid 1px #C1C1C1;
  height: 28px;
  margin-top: 1px;
  overflow: hidden;
  padding: 1px;
}

.jtnavbar_subbar_inner
{
  background: #EEEDED;
  height: 24px;
  overflow: hidden;
  width: 100%;
}

.jtnavbar_subbar ul
{
  margin: 0;
  padding: 0 0 0 3px;
}

.jtvnavbar {
  border: solid 1px #C1C1C1;
  padding: 1px;
}

.jtvnavbar_caption {
  background: url(images/cat_header_back.gif);
}

.jtvnavbar li a {
  color: #515050;
}

.jtvnavbar_button_over {
  background: #EEEDED;
}

.jtvnavbar_button_active
{
  background: #871719;
  color: white;
}

.jtnavbar a
{
  text-decoration: none;
}