/*********************************************************************************/
/*                      JomiTech PlatinumGrid Stylesheet                         */
/*               Copyright © JomiTech 2009. All Rights Reserved.                 */
/*********************************************************************************/
/* Basic styles */
.jtadvgrid table {
	border-collapse: separate;
	empty-cells: show;
}

.jtadvgrid td {
	font-size: 9pt;
}
/* End Basic styles */

/* Container styles */
.jtadvgrid {
	background: white;
	border-bottom: solid 1px #5D7EB0;
	border-left: solid 1px #5D7EB0;
	border-right: solid 1px #5D7EB0;
	border-top: solid 1px #5D7EB0;
	border-collapse: separate;
	empty-cells: show;
	overflow: hidden;
	position: relative;
	width: auto;
}

.jtadvgrid .scrollcontainer {
	/*background: #F2F7FF; */
	overflow: hidden;
	position: relative;
}

.jtadvgrid .header {
	overflow: hidden;
	width: auto;
}

.jtadvgrid .header .intheader {
	/* overflow: hidden; Breaks hscrolling in FF */
	width: auto;
	width: expression(parentNode.clientWidth); /* IE7 was showing this block 1px bigger than its parent. */
}

.jtadvgrid .scrollerdiv {
	overflow: auto;
	position: relative;
}

.noscrolling .scrollcontainer .scrollerdiv {
	overflow: visible;
}

.jtadvgrid .bugfixer {
}

.jtadvgrid .containercell {
	height: 100%;
}

.jtadvgrid .inttable {
	background: white;
	border-collapse: expression("collapse"); /* Although IE7 needs this off to show selection rectangle, we need to keep it enabled to force IE7 & 8 to collapse the empty cells. */
	empty-cells: show;
	/*table-layout: fixed;*/
	/*width: 100%;*/
}

.jtadvgrid .scrollerdiv .fillwidth {
	table-layout: fixed;
	width: 100%;
	width: expression(parentNode.clientWidth); /* IE6 was showing this block 1px bigger than its parent. */
}

.jtadvgrid .inttablenoscroll {
	width: 100%;
}

.jtadvgrid .intheadertable {
	border-collapse: expression("collapse");
	empty-cells: show;
	table-layout: fixed;
}
/*
.jtadvgrid .intheader .fillwidth {
	width: 100%;
	width: expression(parentNode.clientWidth - 1); /* IE7 was showing this block 1px bigger than its parent. * /
}
*/
.jtadvgrid .inttable tbody {
	border-top: solid 1px #5D7EB0;
}
/* End Container styles */

/* Pager styles */
.jtadvgrid .pager {
	background: #ECECEC url(images/grid_dark_grad.gif) repeat-x left center;
	border-top: solid 1px #5D7EB0;
	color: #5D7EB0;
	margin: 0;
	padding: 4px 4px 5px 4px;
}

.jtadvgrid .toppager .pager {
	border-top: none;
}

* html .jtadvgrid .toppager {
	background: #ECECEC url(images/grid_dark_grad.gif) repeat-x left center;
}

.jtadvgrid .pager table {
	margin: 0;
	padding: 0;
	width: 100%;
}

.jtadvgrid .pager table table {
	width: auto;
}

.jtadvgrid .pager table table td {
	padding: 0 3px 0 3px;
	text-align: center;
}

.jtadvgrid .pager table table td a {
	color: black;
	padding: 0 2px 2px 2px;
}
/* End Pager styles */

/* Row and cell styles */
.jtadvgrid .inttable tr.row td,
.jtadvgrid .intheadertable tr.columnheader td,
.jtadvgrid .inttable tr.columnheader td.headercell {
	empty-cells: show;
	margin: 0;
	padding: 2px 1px 2px 1px;
}

.jtadvgrid .inttable tbody tr td {
/*	border: none; - removed to fix issue where grid header border's weren't shown on detail grids */
	cursor: default;
	overflow: hidden;
}

.jtadvgrid .inttable tbody tr .sc {
	padding-right: 2px;
	padding-left: expression("1px");
	padding-right: expression("1px");
	padding-top: 5px;
	padding-top: expression("1px");
	text-align: center;
	width: 1px;
}

.jtadvgrid .inttable tbody .rowselected .sc,
.jtadvgrid .inttable tbody .rowselected .selected.sc {
	padding-top: 4px;
	padding-top: expression("0px");
}

.jtadvgrid .inttable tbody tr .sc input {
	margin: 0;
	margin-left: 1px;
	padding: 0;
}

.jtadvgrid .inttable .inttablebody tr td div.cd,
.jtadvgrid .inttable .inttablebody tr td div.intcolheaderdiv {
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
}

.jtadvgrid .inttable .inttablebody tr td div.cd .cellspan {
	-moz-user-select: none;
}

.jtadvgrid .inttable .evenrow td {
}

.jtadvgrid .inttable .oddrow td {
	background-color: #F4FAFF;
}

.jtadvgrid .inttable .grouprow td {
	background-color: #F4FAFF;
}

.jtadvgrid .inttable .grouprow .groupexpcolcell {
	background: #CEDCF8;
	padding-left: 0;
	padding-right: 0;
}

.jtadvgrid .inttable .row .grouppadcell,
.jtadvgrid .inttable .memorow .grouppadcell,
.jtadvgrid .inttable .grouprow .grouppadcell {
	background: #CEDCF8;
}

.jtadvgrid .inttable .groupcell {
	padding: 3px 3px 3px 2px;
}

.jtadvgrid .inttable .grouprow .groupcell {
	background: #CEDCF8;
}

.jtadvgrid .inttable .editcolumn {
	-moz-user-select: none;
	text-align: center;
}

.jtadvgrid .inttable .editcolumn a {
	color: black;
}

.jtadvgrid .inttable td.pk {
	display: none;
}

.jtadvgrid .inttable .hidden {
	display: none;
}

.jtadvgrid .inttable .hidden td {
	display: none;
}

.jtadvgrid .inttable tr .merged {
	background-color: #F9F9F9;
}

.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.cell,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.cellwithchildren,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.blankcell,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.detailrow,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.sc,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.editcolumn,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr td.memocell,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr.filterbar td.fl,
.jtadvgrid .horzlines tbody tr .jtadvgrid tbody tr.columnheader td.headercell {
	border-bottom: none;
	padding-top: 0;
}

.jtadvgrid .horzlines tbody tr td.cell,
.jtadvgrid .horzlines tbody tr td.cellwithchildren,
.jtadvgrid .horzlines tbody tr td.blankcell,
.jtadvgrid .horzlines tbody tr td.detailrow,
.jtadvgrid .horzlines tbody tr td.sc,
.jtadvgrid .horzlines tbody tr td.editcolumn,
.jtadvgrid .horzlines tbody tr td.memocell,
.jtadvgrid .horzlines tbody tr.filterbar td.fl,
.jtadvgrid .horzlines tbody tr.columnheader td.headercell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.cell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.cellwithchildren,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.blankcell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.detailrow,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.sc,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.editcolumn,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.memocell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr.filterbar td.fl,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr.columnheader td.headercell {
	border-bottom: solid 1px #C5D3EC;
}

.jtadvgrid .horzlines tbody tr td.cell,
.jtadvgrid .horzlines tbody tr td.cellwithchildren,
.jtadvgrid .horzlines tbody tr td.editcolumn,
.jtadvgrid .horzlines tbody tr tr.filterbar td.fl,
.jtadvgrid .horzlines tbody tr tr.columnheader td.headercell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.cell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.cellwithchildren,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.blankcell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.detailrow,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.editcolumn,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr td.memocell,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr.filterbar td.fl,
.jtadvgrid .horzlines tbody tr .jtadvgrid .horzlines tbody tr.columnheader td.headercell {
	padding-top: 2px;
}

.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.cell,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.cellwithchildren,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.blankcell,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.detailrow,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.sc,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.editcolumn,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr td.memocell,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr.filterbar td.fl,
.jtadvgrid .vertlines tbody tr .jtadvgrid tbody tr.columnheader td.headercell {
	border-right: none;
}

.jtadvgrid .vertlines tbody tr td.cell,
.jtadvgrid .vertlines tbody tr td.cellwithchildren,
.jtadvgrid .vertlines tbody tr td.blankcell,
.jtadvgrid .vertlines tbody tr td.detailrow,
.jtadvgrid .vertlines tbody tr td.sc,
.jtadvgrid .vertlines tbody tr td.editcolumn,
.jtadvgrid .vertlines tbody tr td.memocell,
.jtadvgrid .vertlines tbody tr.filterbar td.fl,
.jtadvgrid .vertlines tbody tr.columnheader td.headercell,
.jtadvgrid .vertlines tbody tr .jtadvgrid .vertlines tbody tr td.cell,
.jtadvgrid .vertlines tbody tr .jtadvgrid .vertlines tbody tr td.cellwithchildren,
.jtadvgrid .vertlines tbody tr .jtadvgrid .horzlines tbody tr td.blankcell,
.jtadvgrid .vertlines tbody tr .jtadvgrid .horzlines tbody tr td.detailrow,
.jtadvgrid .vertlines tbody tr .jtadvgrid .vertlines tbody tr td.sc,
.jtadvgrid .vertlines tbody tr .jtadvgrid .vertlines tbody tr td.editcolumn,
.jtadvgrid .vertlines tbody tr .jtadvgrid .vertlines tbody tr td.memocell,
.jtadvgrid .vertlines tbody tr .jtadvgrid .horzlines tbody tr.filterbar td.fl,
.jtadvgrid .vertlines tbody tr .jtadvgrid .horzlines tbody tr.columnheader td.headercell {
	border-right: solid 1px #C5D3EC;
}

/*
.jtadvgrid .inttable tbody tr .horzline {
	border-top: solid 1px #5D7EB0;
	padding-top: 2px;
}

.jtadvgrid .inttable tbody tr .vertline {
	border-right: solid 1px #5D7EB0;
}
*/

.jtadvgrid .inttable tbody tr td.selected,
.jtadvgrid .inttable tbody tr.rowselected td {
	background-color: #CEDCF8;
	border: dotted 1px #909090;
	padding: 1px 1px 2px 0;
}

.jtadvgrid .inttable tbody .rowselected .editcolumn {
	padding-right: 2px;
}

.jtadvgrid .inttable tbody tr .selected div.cd, .jtadvgrid .inttable tbody .rowselected td div.cd {
	/*margin-left: 4px;*/
}

.jtadvgrid .inttable tbody tr .noscrollcell div.cd {
	margin: 0;
	/* padding: 4px 1px 5px 1px; */
	position: absolute;
}

.jtadvgridprinting .inttable tbody tr .noscrollcell div.cd {
	margin: 0 5px;
	position: static;
}

.jtadvgrid .inttable tbody .evenrow .noscrollcell div.cd, .jtadvgrid .inttable tbody .oddrow .noscrollcell div.cd {
	background: white url(images/grid_fixed_col.gif) repeat-y left center;
}

.jtadvgridprinting .inttable tbody .evenrow .noscrollcell div.cd,
.jtadvgridprinting .inttable tbody .oddrow .noscrollcell div.cd {
	background: transparent;
}

.jtadvgrid .horzlines tbody tr .noscrollcell div.cd {
	/*border-top: solid 1px #5D7EB0;*/
	padding-bottom: 2px;
	padding-top: 2px;
}

.jtadvgrid .inttable tbody .row .selected .noscrolldiv, .jtadvgrid .inttable tbody .rowselected .noscrollcell div.cd {
	background-color: white;
	border: dotted 1px #909090;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	z-index: 99;
}

.jtadvgrid .vertlines tbody tr .noscrollcell div.cd {
	border-left: solid 1px #5D7EB0;
	border-right: solid 1px #5D7EB0;
}

.jtadvgridprinting .vertlines tbody tr .noscrollcell div.cd {
	border: none;
}

.jtadvgrid .inttable .inttablebody tr .noscrollcell div.cd {
	padding-left: 5px;
	padding-right: 5px;
}

.jtadvgridprinting .inttable .inttablebody tr .noscrollcell div.cd {
	padding: 0;
}

.jtadvgrid .inttable tbody tr td.vt {
	vertical-align: top;
}

.jtadvgrid .inttable tbody tr td.vm {
	vertical-align: middle;
}

.jtadvgrid .inttable tbody tr td.vb {
	vertical-align: bottom;
}

.jtadvgrid .inttable tbody tr td .commandcol .btndv {
	display: inline;
}

.jtadvgrid .inttable tbody tr td .commandcol .btndv div {
	background: white;
	border: 1px solid #5D7EB0;
	float: left;
	margin: 0;
	padding: 1px;
}

* html .jtadvgrid .inttable tbody tr td .commandcol .btndv div {
	display: inline;
	float: none;
}

.jtadvgrid .inttable tbody tr td .commandcol input {
	cursor: pointer;
	font-size: 8pt;
	margin-right: 1px;
}

.jtadvgrid .inttable tbody tr td .commandcol .btndv input {
	background: url(images/grid_dark_grad.gif) repeat-x center center;
	border: none;
	margin: 0;
	padding: 0;
}

.jtadvgrid .inttable .novisible,
.jtadvgrid .intheadertable .novisible {
	display: none;
}

.jtadvgrid .inttable .cellexpand {
	background: url(images/treeplus.gif) no-repeat left center;
	cursor: pointer;
	float: left;
	height: 1em;
	margin-left: 1px;
	width: 15px;
}

.jtadvgrid .inttable tbody tr .selected .cellexpand, .jtadvgrid .inttable tbody .rowselected td .cellexpand {
	/*margin-left: 0; Was shifting expand sign when cell was selected */
	/*margin-right: 1px; Was shifting cell text when cell was selected */
}

.jtadvgrid .inttable .cellwithchildren .expanded {
	background: url(images/treeminus.gif) no-repeat left center;
}

.jtadvgrid .inttable .cellwithchildren .collapsed {
	background: url(images/treeplus.gif) no-repeat left center;
}

.jtadvgrid .inttable tbody tr .detailrow {
	padding: 5px 10px 5px 0;
}

.jtadvgrid .inttable tbody .memorow td {
	padding: 0;
}

.jtadvgrid .inttable tbody .memorow td .memorowdiv {
	/* background-color: #F9F9F9; */
	padding: 2px 5px 2px 5px;
}

.jtadvgrid .dragselect {
	background-color: #F2F7FF;
	border: solid 1px #5D7EB0;
	display: none;
	filter: alpha(opacity=75);
	font-size: 0;
	-moz-opacity: 0.75;
	opacity: 0.75;
	position: absolute;
	z-index: 99;
}

.jtadvgrid .inttable tbody tr td div.cd table {
	height: 100%;
}

.jtadvgrid .inttable tbody tr td div.cd table tbody tr td {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

.jtadvgrid .cellsizer {
	font-size: 0;
	line-height: 0;
	height: 0;
}

.jtadvgrid .intheadertable .blankcell,
.jtadvgrid .inttable .blankcell {
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.jtadvgrid table.intheadertable tr td.phc,
.jtadvgrid table.intheadertable tr td.phcfl,
.jtadvgrid table.inttable tr td.pcc {
	margin: 0;
	padding: 0;
	width: 0;
}

.jtadvgrid .fillwidth .phc,
.jtadvgrid .fillwidth .phcfl,
.jtadvgrid .fillwidth .pcc {
	display: none;
}
/* End row and cell styles */

/* Sizer rows styles */
.jtadvgrid .inttable tbody .sizerrow td {
	border: 0;
	font-size: 0;
	line-height: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.jtadvgrid .inttable tbody .sizerrow td div {
	font-size: 0;
	line-height: 0;
	height: 0;
}

.jtadvgrid .inttable .sizerrow .sizerselect div {
	width: 24px;
}

.jtadvgrid .inttable .sizerrow .sizeredit div {
	width: 127px;
}
/* End sizer row styles */

/* Column header styles */
.jtadvgrid .intheadertable tr td .intcolheaderdiv,
.jtadvgrid .inttable tr td .intcolheaderdiv {
	float: expression("left");
	margin-left: 2px;
	margin-right: 2px;
	overflow: hidden;
	width: auto;
}

.jtadvgrid tr td .intcolheaderspacer {
	font-size: 0;
	height: 0;
	width: 20px;
}

.jtadvgrid tr .headercell .alignleft {
	text-align: left;
}

.jtadvgrid tr .headercell .alignleft .intcolheader {
	margin: 0;
}

.jtadvgrid tr .headercell .aligncenter {
	text-align: center;
}

.jtadvgrid tr .headercell .aligncenter .intcolheader {
	margin: 0 auto;
}

.jtadvgrid tr .headercell .alignright {
	text-align: right;
}

.jtadvgrid tr .headercell .alignright .intcolheader {
	margin: 0 0 0 auto;
}

.jtadvgrid .columnheader td {
	background: #CEDCF8 url(images/grid_dark_grad.gif) repeat-x left center;
	border-top: solid 1px #C5D3EC;
	height: 19px;
	overflow: hidden;
	padding-right: 1px;
	white-space: nowrap;
}

.jtadvgrid .columnheader td a {
	color: black;
	text-decoration: none;
}

.jtadvgrid td .link {
	cursor: pointer;
}

.jtadvgrid .columnheader .intcolheader {
	table-layout: fixed;
}

.jtadvgrid .columnheader .intcolheader td {
	background-color: transparent;
	border: none;
	padding: 0 1px 0 0;
}

.jtadvgrid .columnheader .intcolheader td img {
	vertical-align: middle;
}

.jtadvgrid .columnheader .intcolheader td.srt {
	width: 9px;
}

.jtadvgrid .intheadertable .columnheader .selectcolheader,
.jtadvgrid .inttable .columnheader .selectcolheader {
	text-align: center;
}

.jtadvgrid .columnheader .selectcolheader input {
}

.jtadvgrid .intheadertable .columnheader .edtclhdr {
	/*border-top: none;*/
}

.jtadvgrid .intheadertable .columnheader .resizercell,
.jtadvgrid .inttable .columnheader .resizercell {
	overflow: visible;
}

.jtadvgrid .columnheader .cellresizeborder {
	/*float: right;*/
	font-size: 0;
	height: 13.5pt;
	position: relative;
	width: 0;
}

.jtadvgrid .columnheader .cellresizeborder div {
	/*background: red;*/
	cursor: w-resize;
	height: 13.5pt;
	position: absolute;
	left: 0;
	width: 7px;
}

.jtadvgrid .colmover {
	background: #CEDCF8 url(images/grid_dark_grad.gif) repeat-x left center;
	border: solid 1px #5D7EB0;
	display: none;
	filter: alpha(opacity=75);
	font-size: 9pt;
	-moz-opacity: 0.75;
	opacity: 0.75;
	padding: 4px;
	position: absolute;
	top: 0;
	z-index: 99;
}

.jtadvgrid .colpositioner {
	background-color: #3E3E3E;
	display: none;
	font-size: 0;
	position: absolute;
	top: 0;
	width: 1px;
	z-index: 98;
}

.jtadvgrid .colpositioner .colpositionertop {
	background-image: url(images/downarrow1.gif);
	background-repeat: no-repeat;
	font-size: 0;
	height: 6px;
	left: -3px;
	overflow: hidden;
	position: absolute;
	top: -6px;
	width: 7px;
}

.jtadvgrid .colpositioner .colpositionerbottom {
	background-image: url(images/uparrow1.gif);
	background-repeat: no-repeat;
	bottom: -6px;
	font-size: 0;
	height: 6px;
	left: -3px;
	overflow: hidden;
	position: absolute;
	width: 7px;
}

.jtadvgrid .header .intheadertable .headercell .intcolheadercelltable,
.jtadvgrid .inttable .headercell .intcolheadercelltable {
	table-layout: fixed;
	width: 100%;
}

.jtadvgrid .header .intheadertable .headercell .intcolheadercelltable tbody tr td ,
.jtadvgrid .inttable thead .headercell .intcolheadercelltable tbody tr td {
	border: none;
	margin: 0;
	padding: 0;
}

.jtadvgrid .intheadertable .headerendcol {
	border-right: none;
	font-size: 0;
	padding: 0 1px 0 0;
}

.jtadvgrid .inttablenoscroll .headerendcol {
	display: none;
}

.jtadvgrid .vertlines tbody tr .noscrollhdr .noscrollhdrdiv {
	/*border-right: 1px solid #5D7EB0;*/
}

.jtadvgrid .horzlines tbody tr .noscrollhdr .noscrollhdrdiv {
	/*border-top: 1px solid #5D7EB0;*/
	padding-top: 2px;
}

.jtadvgrid .columnheader .noscrollhdr .noscrollhdrdiv {
	/*background: #ECECEC url(images/grid_light_grad.gif) repeat-x left center;*/
	/*border-top: 1px solid #5D7EB0;*/
	padding-right: 2px;
	white-space: nowrap;
}

.jtadvgrid .intheadertable .noscrollhdr .noscrollhdrdiv {
	margin: 0pt;
	padding: 3px 2px 3px 1px;
}
/* End column header styles */

/* Filter bar styles */
.jtadvgrid .filterbar td {
	background-color: #F2F7FF;
	border-top: solid 1px #C5D3EC;
	padding: 1px 1px 1px 1px;
}

.jtadvgrid .filterbar .fl table {
	/*table-layout: expression("fixed");*/
	table-layout: fixed;
}

.jtadvgrid .filterbar .fl table table {
	/*table-layout: expression("auto");*/
}

.jtadvgrid .filterbar td .inputcontainer {
	/*
	background-color: white;
	border: solid 1px #5D7EB0;
	*/
	font-size: 8pt;
	/*padding-left: 1px;
	padding-top: 1px;*/
	width: auto;
}

.jtadvgrid .filterbar td input {
/*
	background-color: white;
	border: solid 1px #5D7EB0;
	font-size: 8pt;
*/
	/*height: 13px;*/
	margin: 0;
}

.jtadvgrid .filterbar td .inputcontainer input {
/*
	border: none;
	height: 9pt;
	padding: 0;
	width: 100%;
*/
}

.jtadvgrid .filterbar td .checkbox {
	height: auto;
}

.jtadvgrid .filterbar td select {
	border: solid 1px #5D7EB0;
	font-size: 8pt;
	width: 100%;
}

.jtadvgrid .filterbar td .textfilterinputcontainer {
	background-color: white;
	border: solid 1px #5D7EB0;
	font-size: 8pt;
	padding: 1px 0 1px 1px;
	width: auto;
}

.jtadvgrid .filterbar td .inputcontainer .textfilterinput {
	border: none;
	border-width: 0px;
	font-size: 8pt;
	height: 9pt;
	padding: 0;
	width: 100%;
}

.jtadvgrid .intheadertable tbody .filterbar .noscrollfilterdiv {
	background-color: #F2F7FF;
	border-right: solid 1px #5D7EB0;
	border-top: solid 1px #C5D3EC;
	padding: 2px 1px 1px 1px;
}
/* End filter bar styles */

/* Group By styles */
.jtadvgrid .groupbar {
	background-color: #F2F7FF;
	border-top: solid 1px #5D7EB0;
	margin: 0;
	padding: 4px;
}

.jtadvgrid .groupbar .intgroupheader td {
	padding: 0 3px 0 0;
}

.jtadvgrid .groupbar .intgroupheader td a {
	color: black;
	text-decoration: none;
}

.jtadvgrid .groupbar .intgroupheader td img {
	vertical-align: middle;
}

.jtadvgrid .nogroups {
	color: #5D7EB0;
	font-style: italic;
}

.jtadvgrid .groupbar .intgroupheader td .groupcolumn span {
	cursor: pointer;
}

.jtadvgrid .intheadertable .groupbyheader {
	padding-left: 0;
	padding-right: 0;
	/*width: 12px;*/
}

.jtadvgrid .intheadertable .groupbyheader div {
	/*width: 12px;*/
}

.jtadvgrid .inttable .groupbyheader {
	/*width: 16px;*/
}

.jtadvgrid .inttable .groupbyheader div {
	/*width: 16px;*/
}

.jtadvgridprinting .inttable .groupbyheader {
	width: 12px;
}

.jtadvgrid .inttable .groupexpcolcell {
	border-right: none;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.jtadvgridprinting .inttable .groupexpcolcell {
	width: 12px;
}

.jtadvgrid .inttable .groupexpcolcell div {
	height: 12px;
	margin: 0 auto;
	width: 12px;
}

.jtadvgrid .inttable .grouprow .expanded div {
	background: url(images/treeminus.gif) no-repeat center center;
}

.jtadvgrid .inttable .grouprow .collapsed div {
	background: url(images/treeplus.gif) no-repeat center center;
}
/* End group by styles */

/* Editor styles */
.jtadvgrid .inlineeditor {
	display: none;
}

.jtadvgrid .textediteditor {
	background-color: white;
	border: solid 1px #5D7EB0;
	font-size: 8pt;
	margin-left: 1px;
	padding-left: 1px;
	padding-top: 1px;
	width: auto;
}

.jtadvgrid .textediteditor input {
	background-color: white;
	border: none;
	font-size: 8pt;
	height: 11pt;
	margin: 0;
	padding: 0;
	width: 100%;
}

.jtadvgrid .memoeditor {
	background-color: white;
	border: solid 1px #5D7EB0;
	font-size: 8pt;
	margin-left: 1px;
	padding-left: 1px;
	padding-top: 1px;
	width: auto;
}

.jtadvgrid .memoeditor textarea {
	background-color: white;
	border: none;
	font-size: 8pt;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.jtadvgrid .comboboxeditor {
}

.jtadvgrid .comboboxeditor select {
	font-size: 8pt;
	width: 100%;
}

.jtadvgrid .inttable .editorform td {
	background-color: #E5EEFC;
	border-bottom: solid 1px #5D7EB0;
	border-top: solid 1px #5D7EB0;
	padding: 0;
}

.jtadvgrid .inttable .editorform td .editorformdiv {
	padding: 0 24px 0 5px;
	position: relative;
	width: auto;
}

.jtadvgrid .inttable .editorform td .editorformdiv .cancelbtn {
	background: url(images/cancelsmall.gif) no-repeat center center;
	border: solid 1px #5D7EB0;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}

.jtadvgrid .inttable .editorform td .formeditor {
	padding: 5px 0;
}

.jtadvgrid .inttable .editorform td p {
	margin: 5px 0;
}

.jtadvgrid .inttable .editorform td p a {
	color: black;
}
/* End editor styles */

/* Summary styles */
.jtadvgrid .summary-container,
.jtadvgridprinting .summaryrow td,
.noscrolling .summaryrow td {
	background-color: #F2F7FF;
	border-top: solid 1px #5D7EB0;
}

.jtadvgridprinting .summaryrow td td,
.noscrolling .summaryrow td td {
	border-top: none;
}

.jtadvgrid .summaryrow td table {
	margin-bottom: 1px;
	margin-left: 5px;
	margin-top: 1px;
}

.jtadvgrid .summaryrow td table td {
	padding: 1px 0;
}

.jtadvgrid .summaryrow td.sc {
	width: 24px;
}

.jtadvgrid .summaryrow td.grpc {
	width: 19px;
}

/* Command Bar styles */
.jtadvgrid .cmdbar {
	background-color: #F2F7FF;
  border-top: solid 1px #5D7EB0;
  font-size: 9pt;
	margin: 0;
}

.jtadvgrid .cmdbar a {
  background-repeat: no-repeat;
  background-position: 3px center;
  border: solid 1px #C5D3EC;
  color: #5D7EB0;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 3px;
  text-decoration: none;
}

.jtadvgrid .cmdbar a:hover {
  background-color: #CEDCF8;
}

.jtadvgrid .cmdbar .cmd-insert {
  background-image: url(images/plus.gif);
  text-indent: 18px;
}

.jtadvgrid .cmdbar .cmd-refresh {
  background-image: url(images/refresh.gif);
  text-indent: 18px;
}

.jtadvgrid .cmdbar .cmd-exportcsv {
  background-image: url(images/exportcsv.gif);
  text-indent: 18px;
}

.jtadvgrid .cmdbar .cmd-exportpdf {
  background-image: url(images/pdficon_small.gif);
  text-indent: 18px;
}

.jtadvgrid .cmdbar .cmd-exportxls {
  background-image: url(images/exportxls.gif);
  text-indent: 18px;
}

.jtadvgrid .cmdbar .cmd-print {
  background-image: url(images/print.gif);
  text-indent: 18px;
}
/* Custom control styles */
/*
.jtadvgrid .jtdatepicker input {
	font-size: 8pt;
}

.jtadvgrid .inttable .jtdatepicker .jtdatepickerdropdown {
	height: 100%;
	right: 0;
	top: 0;
}

.jtadvgrid .filterbar .jtdatepickerdropdown {
	right: -1px;
	top: -2px;
}

.jtadvgrid .filterbar .jttimepicker input {
	width: auto;
}

.jtadvgrid .filterbar .jttimepicker select {
	width: auto;
}
*/
/* End custom control styles */

/* Extra styles */
.jtadvgrid .waitwindow {
	background: #F2F7FF url(images/wait.gif) no-repeat center center;
	display: none;
	filter: alpha(opacity=75);
	height: 100%;
	left: 0;
	-moz-opacity: 0.75;
	opacity: 0.75;
	position: absolute;
	top: 0;
	width: 100%;
}
/* End extra styles */