.jtajaxwaitpopup {
    background: url("images/wait.gif") no-repeat 10px center #D6D6D6;
    border: 1px solid #6C6C6C;
    display: none;
    font-size: 10pt;
    height: 48px;
    line-height: 48px;
    padding-left: 50px;
    padding-right: 10px;
    position: absolute;
    z-index: 1001;
}

.jtajaxwaitpopupbackground {
	  background: #ECECEC;
	  display: none;
	  filter: alpha(opacity=75);
	  height: 100%;
	  left: 0;
	  -moz-opacity: 0.75;
	  opacity: 0.75;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
}

* html .jtajaxwaitpopupbackground {
    background: transparent url(images/divwindow_mask.gif);
}