/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jtmenudivider, .jtmenuitem {
  clear: both;
  display: block;
  float: left;
  list-style-type: none;
  -moz-user-select: none;
  width: 230px;
}

.jtmenudivider {
  background: #C1C1C1;
  font-size: 0;
  height: 1px;
  line-height: 0;
  margin: 5px 0 5px 0;
  overflow: hidden;
}

.jtmenuitem {
  color: black;
  cursor: pointer;
  font-size: 8pt;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 2px 0;
  position: relative;
}

.jtmenuitem_over {
  background: #CEDCF8;
}

.jtmenuitem a {
  background-position: 5px center;
  background-repeat: no-repeat;
  color: black;
  display: block;
  padding: 0 26px;
  text-decoration: none;
}

.jtmenuchildarrow {
  display: none;
}

.jtmenuitem .jtmenuchildarrow {
  background: url(images/rightarrow.gif) no-repeat center center;
  display: block;
  height: 18px;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 16px;
}

.jtmenu {
  background: #F4FAFF;
  border: solid 1px #5D7EB0;
  margin: 0;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  position: absolute;
  width: 230px;
  z-index: 200;
}

.jtmenubar {
	background: url(images/dropdown_back.gif) repeat-x center center;
	border: solid 1px #5D7EB0;
	-moz-user-select: none;
  overflow: hidden;
  padding: 1px;
}

.jtmenubaritem {
  background-position: 5px center !important;
  background-repeat: no-repeat !important;
	color: #2D4879;
  display: block;
	float: left;
	font-size: 10pt;
	margin-right: 2px;
  padding: 3px 26px 4px;
  text-decoration: none;
}

.jtmenubarbutton_over {
	background-color: #F2F7FF;
}