/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jthnavbar {
	background: url(images/dropdown_back.gif) repeat-x left center;
	border: solid 1px #5D7EB0;
	height: 30px;
}

.jtnavbar_table {
  height: 100%;
}

.jthnavbar_button {
	color: #2D4879;
	cursor: pointer;
	font-size: 10pt;
	/*padding: 1px 1px 3px 0;*/
	padding: 0;
	text-align: center;
}

.jthnavbar_button table td {
	font-size: 10pt;
}

.jthnavbar a {
  color: #2D4879;
  text-decoration: none;
}

.jthnavbar a:hover {
	text-decoration: underline;
}

.jtnavbar_subitem {
	background-repeat: no-repeat;
	background-position: left center;
	color: #2D4879;
	cursor: pointer;
	float: left;
	font-size: 8pt;
	height: 23px;
	line-height: 23px;
	list-style-type: none;
	margin-right: 6px;
}
.jtnavbar_subitem_image {
	padding-left: 20px;
}

.jtnavbar_subbar
{
  border: solid 1px #5D7EB0;
  margin-top: 1px;
  overflow: hidden;
}

.jtnavbar_subbar_inner
{
  background: #E5EEFC;
  height: 24px;
  overflow: hidden;
  width: 100%;
}

.jtnavbar_subbar ul
{
  margin: 0;
  padding: 0 0 0 3px;
}

.jtvnavbar {
  background: white;
  border: solid 1px #5D7EB0;
  overflow: auto;
}

.jtvnavbar_caption {
  background: url(images/cat_header_back.gif);
  border-bottom: solid 1px #C1C1C1;
  color: #515050;
  font-size: 9pt;
  font-weight: bold;
  line-height: 23px;
  padding-left: 3px;
  padding-top: 0;
}

.jtvnavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.jtvnavbar ul ul {
  margin-left: 15px;
}

.jtvnavbar li {
  display: block;
  zoom: 1;
}

.jtvnavbar li a {
  background-position: 5px center;
  background-repeat: no-repeat;
  color: #2D4879;
  font-size: 9pt;
  display: block;
  padding: 5px 3px;
  text-decoration: none;
}

.jtvnavbar_images li a {
  padding: 5px 26px;
}

.jtvnavbar li li {
  background: url(images/ellipses.gif) no-repeat 3px 0.75em;
  padding-left: 10px;
}

.jtvnavbar_divider {
  background: #C1C1C1 !important;
  font-size: 0;
  height: 1px;
  line-height: 0;
  overflow: hidden;
}

.jtvnavbar_button_over {
  background-color: #CEDCF8;
}

.jtvnavbar_button_active {
  background-color: #CEDCF8;
  color: white;
}

.jtnavbar a {
  text-decoration: none;
}