/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jttoolbar
{
  -moz-user-select: none;
  position: relative;
}

.jttoolbar_inside
{
  background: url(images/dropdown_back.gif) repeat-x center center;
  border: solid 1px #5D7EB0;
  -moz-user-select: none;
  padding: 1px;
}

.jttoolbutton {
	background: white;
	border: solid 1px #5D7EB0;
	color: #062F5D;
	cursor: pointer;
	font-size: 8pt;
	/*height: 24px;*/
	padding: 1px;
}

.jttoolbuttoninner {
	background: url(images/dropdown_back.gif) repeat-x center center;
	height: 18px;
	line-height: 17px;
	padding: 0 3px;
}

.jttoolbuttoninner table {
	line-height: 1em;
}

.jttoolbuttoninner table td {
	font-size: 8pt;
}

.jttoolbutton_over .jttoolbuttoninner {
	background: #F2F7FF;
}

.jttoolbutton_down {
	background: #AFC3E4;
}

.jttoolbutton_down .jttoolbuttoninner {
	background: #AFC3E4;
}

.jttoolbutton_disabled {
	background: #EEEDED !important;
	border: solid 1px #C1C1C1 !important;
	color: gray !important;
	cursor: default !important;
}

.jttoolbutton_disabled .jttoolbuttoninner {
	background: #EEEDED !important;
}

.jttoolbuttonspacer {
}

.jttoolbarfwdscroller
{
  background-position: center center;
  background-image: url(images/leftarrow.gif);
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.jttoolbarrevscroller
{
  background-position: center center;
  background-image: url(images/rightarrow.gif);
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
  height: 25px;
  right: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.jttoolbarinner2
{
  /*height: 24px;*/
  overflow: hidden;
  position: relative;
  width: auto; /* Scroller made toolbar overflow at 100% */
}

.jttoolbarscroller
{
  /*height: 24px;*/
  overflow: hidden;
  position: relative;
  width: auto; /* Scroller made toolbar overflow at 100% */
  zoom: expression("1");
}

.jttoolbaritemtable
{
}