/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jttreeview {
	border: solid 1px #5D7EB0;
	overflow: auto;
	padding: 1px 5px 1px 5px;
	position: relative;
}

.jttreeview ul
{
	margin: 0;
	padding-left: 0;
}

.jttreeview li {
	font-size: 10pt;
	list-style-type: none;
	padding: 1px 0 2px 0;
}

.jttreeview li a, .jttreeview li a:visited {
	color: #2D4879;
	font-weight: normal;
	text-decoration: none;
}

.jttreeview li a.jttreenodetitleselected, .jttreeview li a.jttreenodetitleselected:visited {
	color: white;
}

.jttreeview li a:hover {
	text-decoration: underline;
}

.jttreerootnode li
{
	background: url(images/ellipses.gif) no-repeat 15px center;
	padding-left: 25px;
}

.jttreeview ul .jttreerootnodewithchildren
{
	background: transparent;
}

.jttreenodetitle
{
	color: #2D4879;
	cursor: pointer;
	font-size: 9pt;
	font-weight: bold;
	padding: 0 0 1px 0;
	white-space: nowrap;
}

.jttreenodetitleselected
{
	background: #2D4879;
	color: white;
}

.jttreeview ul li .jttreenodetitleselected {
	color: white;
}

.jttreenodeplus {
	background: url(images/treeplus.gif) no-repeat left center;
	cursor: pointer;
	float: left;
	font-size: 8pt;
	height: 12px;
	margin-top: 3px;
	overflow: hidden;
	padding-left: 1px;
	padding-right: 2px;
	text-align: center;
	width: 11px;
}

.jttreenodeminus {
	background: url(images/treeminus.gif) no-repeat left center;
	cursor: pointer;
	float: left;
	font-size: 8pt;
	height: 12px;
	margin-top: 3px;
	overflow: hidden;
	padding-left: 1px;
	padding-right: 2px;
	text-align: center;
	width: 11px;
}

.jttreenodeplus span
{
	font-size: 8pt;
	line-height: 9px;
}