/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jthnavbar
{
  background: url(images/nav_back.gif) repeat-x;
  border: none;
  height: 24px;
  overflow: hidden;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  position: relative;
}

.jthnavbar table {
	height: 20px;
}

.jthnavbar table table {
	height: auto;
}

.jtnavbar_table
{
  height: 20px;
}

.jtnavbar_innertable
{
  color: white;
  font-size: 9pt;
  height: 17px;
  text-align: center;
}

.jtnavbar_innertable_over
{
  color: #FFFFFF;
  font-size: 9pt;
  text-align: center;
}

.jthnavbar_left
{
  background: url(images/nav_left.gif) repeat-x;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.jthnavbar_right
{
  background: url(images/nav_right.gif) repeat-x;
  height: 24px;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 6px;
}

.jthnavbar_button
{
  padding: 1px;
}

.jthnavbar_button_inner
{
  color: white;
  cursor: pointer;
  font-size: 9pt;
  height: 17px;
  margin-top: expression("1px");
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.jthnavbar_button_inner .jthnavbarcontent {
	padding: 1px 2px;
}

.jthnavbar_button_inner a
{
  color: white;
}

.jthnavbar_button_inner_default
{
  /*height: 20px;*/
  /*padding-top: 2px;*/
}

.jthnavbar_button_inner_over
{
  background: url(images/nav_over_back.gif) repeat-x;
  color: #2F455B;
  /*height: 17px;*/
}

.jthnavbar_button_inner_over td {
	color: #2F455B;
}

.jthnavbar_button_inner_over a
{
  color: #2F455B;
}

.jthnavbar_button_inner_active
{
  background: url(images/nav_sel_back.gif) repeat-x;
  color: white;
  height: 17px;
}

.jthnavbar_button_inner_left
{
	float: left;
	height: 17px;
	width: 3px;
}

.jthnavbar_button_inner_left_over
{
  background: url(images/nav_over_left.gif) no-repeat;
  width: 4px;
}

.jthnavbar_button_inner_left_active
{
  background: url(images/nav_sel_left.gif) no-repeat;
}

.jthnavbar_button_inner_right
{
	float: right;
	height: 17px;
	width: 3px;
	overflow: hidden;
}

.jthnavbar_button_inner_right_over
{
  background: url(images/nav_over_right.gif) no-repeat;
  width: 4px;
}

.jthnavbar_button_inner_right_active
{
  background: url(images/nav_sel_right.gif) no-repeat;
  width: 3px;
}

.jthnavbar a
{
  text-decoration: none;
}

.jtvnavbar {
  border: none;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  position: relative;
  overflow: hidden;
}

.jtvnavbarborder
{
  background: #9EB9D4;
  overflow: hidden;
  position: absolute;
}

.jtvnavbarborder_l
{
  height: 100%;
  left: 0;
  top: 6px;
  width: 1px;
}

.jtvnavbarborder_t
{
  height: 1px;
  left: 6px;
  top: 0;
  width: 100%;
}

.jtvnavbarborder_r
{
  height: 100%;
  right: 0;
  top: 6px;
  width: 1px;
}

.jtvnavbarborder_b
{
  height: 1px;
  left: 6px;
  bottom: 0;
  width: 100%;
}

.jtvnavbarcorner
{
  height: 6px;
  overflow: hidden;
  position: absolute;
  width: 6px;
}

.jtvnavbarcorner_tl
{
  background: url(images/bevel_tl.gif);
  left: 0;
  top: 0;
}

.jtvnavbarcorner_tr
{
  background: url(images/bevel_tr.gif);
  right: 0;
  top: 0;
}

.jtvnavbarcorner_bl
{
  background: url(images/bevel_bl.gif);
  bottom: 0;
  left: 0;
}

.jtvnavbarcorner_br
{
  background: url(images/bevel_br.gif);
  right: 0;
  bottom: 0;
}

.jtvnavbar_innertable
{
  color: #5A7A9A;
  font-size: 8pt;
  font-weight: bold;
}

.jtvnavbar_button
{
  background: white;
  color: #5A7A9A;
  cursor: pointer;
  font-size: 8pt;
  font-weight: bold;
  height: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
}

.jtvnavbar_button_over
{
  background: #E5ECF5;
}

.jtvnavbar_button_active
{
  background: #F9D6BC;
}

.jtvnavbar_caption
{
  background: url(images/nav_hdr_back.gif);
  background-repeat: repeat-x;
  border-bottom: solid 1px #9EB9D4;
  color: White;
  font-size: 9pt;
  font-weight: bold;
  height: 25px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0;
  padding-bottom: 1px;
  position: relative;
}

.jtvnavheader_left
{
  background: url(images/nav_hdr_left.gif);
  height: 22px;
  left: 0;
  overflow: hidden;
  position : absolute;
  top: 0;
  width: 5px;
}

.jtvnavheader_right
{
  background: url(images/nav_hdr_right.gif);
  height: 22px;
  right: 0;
  overflow: hidden;
  position : absolute;
  top: 0;
  width: 5px;
}

.jtvnavbar_divider {
  background: #9EB9D4 !important;
  height: 3px;
}

.jtnavbar a
{
  text-decoration: none;
}

.jtnavbar_subitem
{
  color: #2F455B;
  cursor: pointer;
  float: left;
  font-size: 8pt;
  font-weight: bold;
  height: 21px;
  line-height: 20px;
  list-style-type: none;
  margin-right: 10px;
}

.jtnavbar_subbar
{
  background: #E5ECF5;
  border: solid 1px #A9C1D8;
  height: 23px;
  margin-top: 1px;
  overflow: hidden;
}

.jtnavbar_subitem_table
{
  color: #515050;
  cursor: pointer;
  font-size: 8pt;
  height: 100%;
  line-height: 1em;
}

.jtnavbar_subitem_table td {
	font-size: 8pt;
	font-weight: bold;
	height: 17px;
}

.jtnavbar_subbar ul
{
  margin: 0;
  padding: 0 0 0 3px;
}