/*********************************************************************************/
/*                   JomiTech Components For PHP Stylesheet                      */
/*               Copyright © JomiTech 2007. All Rights Reserved.                 */
/*********************************************************************************/
@import "sitethemestyles.css";

.jttreeview {
	border: none;
	overflow: hidden;
	padding: 6px;
}

.jttreeviewinner
{
	height: 100%;
	width: 100%;
}

.jttreeviewscroller
{
	height: 100%;
	overflow: auto;
	width: 100%;
}

.jttreeviewborder
{
	background: #9EB9D4;
	overflow: hidden;
	position: absolute;
}

.jttreeviewcorner
{
	height: 6px;
	overflow: hidden;
	position: absolute;
	width: 6px;
}

.jttreeviewborder_t
{
	height: 1px;
	left: 6px;
	top: 0;
	width: 100%;
}

.jttreeviewborder_l
{
	height: 100%;
	left: 0;
	top: 6px;
	width: 1px;
}

.jttreeviewborder_r
{
	height: 100%;
	right: 0;
	top: 6px;
	width: 1px;
}

.jttreeviewborder_b
{
	height: 1px;
	left: 6px;
	bottom: 0;
	width: 100%;
}

.jttreeviewcorner_tl
{
  background: url(images/bevel_tl.gif);
  left: 0;
  top: 0;
}

.jttreeviewcorner_tr
{
  background: url(images/bevel_tr.gif);
  right: 0;
  top: 0;
}

.jttreeviewcorner_bl
{
  background: url(images/bevel_bl.gif);
  bottom: 0;
  left: 0;
}

.jttreeviewcorner_br
{
  background: url(images/bevel_br.gif);
  right: 0;
  bottom: 0;
}

.jttreeview li
{
}

.jttreeview li a, .jttreeview li a:visited {
  color: #515050;
  font-weight: bold;
}

.jttreenodetitle
{
  font-weight: normal;
}

.jttreenodetitleselected
{
  background: #F9D6BC;
  color: black;
}

.jttreeview ul li .jttreenodetitleselected {
  color: black;
}

.jttreenodeplus {
	background: url(images/treeplus.gif) no-repeat left center;
	margin-top: 5px;
}

.jttreenodeminus {
	background: url(images/treeminus.gif) no-repeat left center;
}
