.jtexpandpanel {
    border: solid 1px #CACACA;
}

.jtexpandpanelcontrol {
    background-image: url(images/gradient.gif);
    color: #000000;
}

.jtexpandpanelline {
	border-bottom: solid 1px #CACACA;
}