.jtmonthcalendar {
    border: solid 1px #BAC9DB;
}

.jtmonthcalendar table {
    border-bottom: solid 1px #BAC9DB;
}

.jtmonthcalendartitle {
    background-image: url(images/gradient.gif);
    border-bottom: solid 1px #BAC9DB;
    color: #000000;
}

.jtmonthcalendarheadrow {
    background: #EBF4FE;
}

.jtmonthcalendarheadrow td {
    border-left: solid 1px #BAC9DB;
    color: #000000;
}

.jtmonthcalendarheadlastcell {
    border-right: solid 1px #BAC9DB;
}

.jtmonthcalendarcell {
    border-left: solid 1px #BAC9DB;
    border-top: solid 1px #BAC9DB;
    color: #000000;
}

.jtmonthcalendarcell6 {
    border-right: solid 1px #BAC9DB;
}

.jtmonthcalendarcell_blank {
    background-color: #E8E8E8;
}

.jtmonthcalendarcellselected {
    background-color: #DFE9F5;
}