.jtsectionbar {
  border: solid 1px #BAC9DB;
}

.jtsecbarsectioncaption {
  background-image: url(images/gradient.gif);
  color: #000000;
}

.jtsecbarendsection {
  border-bottom: solid 1px #BAC9DB;
}